@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bubblegum+Sans&family=Rozha+One&display=swap');

:root {
    /*Meine Farbpalette*/
    --Green: #8D8741;
    --Blue: #659DBD;
    --Light_Brown: #daad86;
    --Dark_Brown: rgb(188, 152, 106);
    --Beige: #fbeec1;
    --BEIGE_TRANSPARENT: rgba(251, 238, 193, 0.8);

    --fs-xl: clamp(2.5rem, 4vw, 20000rem);
    /*mind. 2.5rem, immer wenns geht 12vw, aber höchstens 12rem*/
    --fs-navbar: 2.1rem;
    --fs-500: ;
    --fs-400: 1rem;

    --ff-titles: 'Bubblegum Sans', cursive;
}

@media (max-width: 80em) {
    :root {
        --fs-xl: 2.3rem;
        --fs-navbar: 1.8rem;
        --fs-500: ;
        --fs-400: 1rem;
    }
}

@media (max-width: 60em) {
    :root {
        --fs-xl: 1.8rem;
        --fs-navbar: 1.2rem;
        --fs-500: ;
        --fs-400: ;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Beige);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    background-color: #3e7a45;
    background-image: linear-gradient(315deg, #233329 74%, #3e7a45 0%);
}

.logo-name {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.logo {
    height: 100%;
    width: auto;
}

h1 {
    color: black;
    font-family: var(--ff-titles);
    font-size: calc(var(--fs-navbar) + 0.3rem);
}

nav {
    display: flex;
}

.nav__links li {
    display: inline-block;
}

.nav__links li a {
    font-family: var(--ff-titles);
    font-size: var(--fs-navbar);
    color: var(--Beige);
    text-decoration: none;
    padding-left: 3vw;
    padding-right: 3vw;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    gap: 10rem
}

.title {
    flex: 20%;
}

h2 {
    font-size: var(--fs-xl);
    font-family: 'Bubblegum Sans', cursive;
}

h3 {
    font-size: calc(var(--fs-xl)*3);
    font-family: var(--ff-titles);
    text-align: center;
}

.title p {
    font-size: var(--fs-400);
    word-wrap: break-word
}

.download-btn {
    padding: 0.25rem 0.75rem;
    background-color: #233329;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--Beige);
    font-size: calc(var(--fs-navbar) * 0.6);
    font-family: var(--ff-titles);
    font-weight: 500;
    box-shadow: 0.6rem 0.6rem #000000dd;
    margin-top: 2vmax;
    transition: background-image 0.5s ease;
}

button:hover {
    background-image: none;
}

button:focus {
    box-shadow: none;
}

.left {
    position: absolute;
    right: 0;
}

.img {
    width: 100%;
    flex: 80%;
    border-radius: 1vw;
    box-shadow: 0.4rem 0.4rem #000000dd;
    object-fit: cover;
    z-index: 1;
}

.section-light {
    background-color: var(--Beige);
}

.section-green {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);

    --mask:
        radial-gradient(2.24em at 50% 3.00em, #000 99%, #0000 101%) calc(50% - 2em) 0/4em 51% repeat-x,
        radial-gradient(2.24em at 50% -2em, #0000 99%, #000 101%) 50% 1em/4em calc(51% - 1em) repeat-x,
        radial-gradient(2.24em at 50% calc(100% - 3.00em), #000 99%, #0000 101%) calc(50% - 2em) 100%/4em 51% repeat-x,
        radial-gradient(2.24em at 50% calc(100% + 2.00em), #0000 99%, #000 101%) 50% calc(100% - 1em)/4em calc(51% - 1em) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.section-dark {
    background: rgb(195, 111, 21);
    background: radial-gradient(circle at calc(50% + 10rem) center, rgba(195, 111, 21, 1) 3%, rgba(54, 32, 6, 1) 24%, rgba(6, 4, 0, 1) 84%);
    margin-top: -2rem;
    color: var(--Beige);
}

.page_head {
    text-align: center;
    padding: 2rem;
}

/*-----------FOOTER------------*/

footer {
    background-color: #233329;
    margin-top: auto;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: var(--Beige);
    border-radius: 20%;
    opacity: 0.6;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    opacity: 1;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
    text-align: center;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

.footerNav ul li a{
    color: var(--Beige);
    margin: 20px;
    text-decoration: none;
    font-family: var(--ff-titles);
    font-size: 1.3em;
    opacity: 0.6;
    transition: 0.5s;
    padding: 0;
}

.footerNav ul li a:hover{
    opacity:1;
}

.footerBottom {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: var(--Beige);
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/*----------------GALLERY-----------------------*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

.gallery img {
    width: clamp(500px, 30vw, 800px);
    height: auto;
    object-fit: cover;
    border-radius: 0.7rem;
    box-shadow: 3px 3px 3px #323232;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1) rotate(-2deg);
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 1200px;
    border-radius: 1rem;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/*--------CONTACT FORM-----------*/

/*
.form-wrapper{
    background-color: var(--Beige);
    width: clamp(500px, 60vw, 1200px);
    padding: 1rem;
    padding-left:2rem;
    margin: auto;
}*/

.form-container {
    width: 100%;
    height: auto;
    padding: clamp(2rem, 8rem, 10px);
    background: url("/images/Vogelperspektive.jpeg") repeat 0 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: var(--BEIGE_TRANSPARENT);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    max-width: 900px;
    border-radius: 1rem;
}

form input,
textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: var(--fs-500);
    border-radius: 0.5rem;
}

form button {
    padding: 0.25rem 0.75rem;
    background-color: #233329;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--Beige);
    font-size: calc(var(--fs-navbar) * 0.6);
    font-family: var(--ff-titles);
    font-weight: 500;
    box-shadow: 0.4rem 0.4rem #000000dd;
    margin-top: 2vmax;
    transition: background-image 0.5s ease;
    width: 12rem;
    margin-left: auto;
}